.form {
  width: 400px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

header {
  background-color: #ecebeb;
  padding: 7px;
  text-align: right;
}

.button-close {
  border: 1px solid;
  padding: 0px 5px 2px 5px;
  display: inline-block;
  border-radius: 2px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tabs {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.tabs__tab {
  width: 100px;
  border: 1px solid;
  margin: 10px 5px 10px 0;
  border-radius: 2px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 1px;
}
.tabs__add {
  width: 15px;
  padding-top: 2px;
  padding-bottom: 1px;
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
}
